### Tugas
___Load_ `tugas.csv` pada folder `data`__. Jadikan kolom `datetime` sebagai _index_

In [1]:
### jawaban anda disini
import pandas as pd
import numpy as np

data = pd.read_csv('data/tugas.csv')
data.set_index('datetime', inplace=True)
data.head()

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
datetime,,,,,,,,,,,
2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32
2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13
2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1

1. Dengan `map`, ubah nilai pada kolom berikut: 
 * `season`: 1 menjadi "_summer_", 2 menjadi "_autumn_", 3 menjadi "_winter_", 4 menjadi "_rainy_"
 * `holiday`: 0 untuk "_non-holiday_", 1 untuk "_holiday_"
 * `workingday`: 0 untuk "_breakday_", 1 untuk "_workingday_"
 * `weather`: 1 menjadi "_clear_", 2 menjadi "_cloudy_", 3 menjadi "_rainy_", 4 menjadi "_stormy_"

In [2]:
### jawaban anda disini

data['season'] = data['season'].map({1:'summer', 2:'autumn',
                                    3:'winter', 4:'rainy'})
data['holiday'] = data['holiday'].map({0:'non-holiday', 1:'holiday'})
data['workingday'] = data['workingday'].map({0:'breakday', 1:'workingday'})
data['weather'] = data['weather'].map({1:'clear', 2:'cloudy',
                                      3:'rainy', 4:'stormy'})
data

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
datetime,,,,,,,,,,,
2011-01-01 00:00:00,summer,non-holiday,breakday,clear,9.84,14.395,81,0.0000,3,13,16
2011-01-01 01:00:00,summer,non-holiday,breakday,clear,9.02,13.635,80,0.0000,8,32,40
2011-01-01 02:00:00,summer,non-holiday,breakday,clear,9.02,13.635,80,0.0000,5,27,32
2011-01-01 03:00:00,summer,non-holiday,breakday,clear,9.84,14.395,75,0.0000,3,10,13
2011-01-01 04:00:00,summer,non-holiday,breakday,clear,9.84,14.395,75,0.0000,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...
2012-12-19 19:00:00,rainy,non-holiday,workingday,clear,15.58,19.695,50,26.0027,7,329,336
2012-12-19 20:00:00,rainy,non-holiday,workingday,clear,14.76,17.425,57,15.0013,10,231,241
2012-12-19 21:00:00,rainy,non-holiday,workingday,clear,13.94,15.910,61,15.0013,4,164,168
2012-12-19 22:00:00,rainy,non-holiday,workingday,clear,13.94,17.425,61,6.0032,12,117,129
2012-12-19 23:00:00,rainy,non-holiday,workingday,clear,13.12,16.665,66,8.9981,4,84,88

2. Dengan `applymap` dibantu dengan _slicing_ kolom, ubah seluruh nilai numerik dengan nilai kuadratnya menggunakan lambda

In [3]:
### jawaban anda disini

data.iloc[:,4:] = data.iloc[:,4:].applymap(lambda x: x**2 if type(x)==int or float else x)
data

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
datetime,,,,,,,,,,,
2011-01-01 00:00:00,summer,non-holiday,breakday,clear,96.8256,207.216025,6561,0.000000,9,169,256
2011-01-01 01:00:00,summer,non-holiday,breakday,clear,81.3604,185.913225,6400,0.000000,64,1024,1600
2011-01-01 02:00:00,summer,non-holiday,breakday,clear,81.3604,185.913225,6400,0.000000,25,729,1024
2011-01-01 03:00:00,summer,non-holiday,breakday,clear,96.8256,207.216025,5625,0.000000,9,100,169
2011-01-01 04:00:00,summer,non-holiday,breakday,clear,96.8256,207.216025,5625,0.000000,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...
2012-12-19 19:00:00,rainy,non-holiday,workingday,clear,242.7364,387.893025,2500,676.140407,49,108241,112896
2012-12-19 20:00:00,rainy,non-holiday,workingday,clear,217.8576,303.630625,3249,225.039002,100,53361,58081
2012-12-19 21:00:00,rainy,non-holiday,workingday,clear,194.3236,253.128100,3721,225.039002,16,26896,28224
2012-12-19 22:00:00,rainy,non-holiday,workingday,clear,194.3236,303.630625,3721,36.038410,144,13689,16641
2012-12-19 23:00:00,rainy,non-holiday,workingday,clear,172.1344,277.722225,4356,80.965804,16,7056,7744

3. Gunakan fungsi _squareroot_ dari Numpy `np.sqrt` untuk mengubah semua data numerik dengan `apply`

In [4]:
### jawaban anda disini

data.iloc[:,4:] = data.iloc[:,4:].apply(lambda x: np.sqrt(x) if type(x)==int or float else x)
data

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
datetime,,,,,,,,,,,
2011-01-01 00:00:00,summer,non-holiday,breakday,clear,9.84,14.395,81.0,0.0000,3.0,13.0,16.0
2011-01-01 01:00:00,summer,non-holiday,breakday,clear,9.02,13.635,80.0,0.0000,8.0,32.0,40.0
2011-01-01 02:00:00,summer,non-holiday,breakday,clear,9.02,13.635,80.0,0.0000,5.0,27.0,32.0
2011-01-01 03:00:00,summer,non-holiday,breakday,clear,9.84,14.395,75.0,0.0000,3.0,10.0,13.0
2011-01-01 04:00:00,summer,non-holiday,breakday,clear,9.84,14.395,75.0,0.0000,0.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
2012-12-19 19:00:00,rainy,non-holiday,workingday,clear,15.58,19.695,50.0,26.0027,7.0,329.0,336.0
2012-12-19 20:00:00,rainy,non-holiday,workingday,clear,14.76,17.425,57.0,15.0013,10.0,231.0,241.0
2012-12-19 21:00:00,rainy,non-holiday,workingday,clear,13.94,15.910,61.0,15.0013,4.0,164.0,168.0
2012-12-19 22:00:00,rainy,non-holiday,workingday,clear,13.94,17.425,61.0,6.0032,12.0,117.0,129.0
2012-12-19 23:00:00,rainy,non-holiday,workingday,clear,13.12,16.665,66.0,8.9981,4.0,84.0,88.0

4. _Aggregate_ `data` berdasarkan `season`, `holiday`, dan `weather` untuk mendapatkan nilai maksimum dan minimum setiap kolom

In [5]:
### jawaban anda disini

data.groupby(['season','holiday','weather']).agg(['max', 'min'])

                            workingday               temp          atemp  \
                                   max         min    max    min     max
season holiday     weather
autumn holiday     clear      breakday    breakday  32.80  14.76  34.850
                   cloudy     breakday    breakday  22.96  14.76  26.515
       non-holiday clear    workingday    breakday  38.54   9.84  43.940
                   cloudy   workingday    breakday  34.44   9.84  40.150
                   rainy    workingday    breakday  33.62   9.84  39.395
rainy  holiday     clear      breakday    breakday  30.34  11.48  32.575
                   cloudy     breakday    breakday  29.52  13.94  32.575
                   rainy      breakday    breakday  22.14  16.40  25.760
       non-holiday clear    workingday    breakday  30.34   5.74  33.335
                   cloudy   workingday    breakday  29.52   6.56  34.090
                   rainy    workingday    breakday  26.24   9.84  30.305
summer holiday     clear      breakday    breakday  16.40   4.10  20.455
                   cloudy     breakday    breakday  12.30   5.74  13.635
                   rainy      breakday    breakday  10.66   5.74  11.365
       non-holiday clear    workingday    breakday  29.52   0.82  32.575
                   cloudy   workingday    breakday  29.52   3.28  32.575
                   rainy    workingday    breakday  22.96   3.28  26.515
                   stormy   workingday  workingday   8.20   8.20  11.365
winter holiday     clear      breakday    breakday  37.72  26.24  42.425
                   cloudy     breakday    breakday  31.98  24.60  36.365
                   rainy      breakday    breakday  27.88  22.96  31.820
       non-holiday clear    workingday    breakday  41.00  15.58  45.455
                   cloudy   workingday    breakday  39.36  18.86  43.180
                   rainy    workingday    breakday  37.72  19.68  44.695

                                   humidity       windspeed          casual  \
                               min      max   min       max      min    max
season holiday     weather
autumn holiday     clear    18.180     83.0  31.0   32.9975   0.0000  115.0
                   cloudy   17.425     83.0  63.0   26.0027  11.0014   64.0
       non-holiday clear    12.120    100.0  16.0   47.9988   0.0000  361.0
                   cloudy   11.365    100.0  21.0   40.9973   0.0000  311.0
                   rainy    11.365    100.0  35.0   39.0007   0.0000  241.0
rainy  holiday     clear    12.880     94.0  34.0   36.9974   0.0000  147.0
                   cloudy   16.665     88.0  42.0   19.0012   0.0000  164.0
                   rainy    20.455     76.0  58.0   16.9979  12.9980   76.0
       non-holiday clear     7.575    100.0  16.0   36.9974   0.0000  362.0
                   cloudy    9.090    100.0  28.0   39.0007   0.0000  310.0
                   rainy     9.850    100.0  48.0   43.0006   0.0000  131.0
summer holiday     clear     6.060     60.0  32.0   32.9975   0.0000   41.0
                   cloudy    6.820     59.0  41.0   27.9993   7.0015   26.0
                   rainy     6.060     93.0  59.0   19.9995  12.9980    4.0
       non-holiday clear     0.760    100.0   8.0   51.9987   0.0000  367.0
                   cloudy    2.275    100.0   0.0   47.9988   0.0000  226.0
                   rainy     2.275    100.0   0.0   43.9989   0.0000   31.0
                   stormy   11.365     86.0  86.0    6.0032   6.0032    6.0
winter holiday     clear    28.790     94.0  35.0   19.9995   0.0000  240.0
                   cloudy   27.275     94.0  43.0   39.0007   0.0000  242.0
                   rainy    26.515     94.0  74.0   26.0027   7.0015   63.0
       non-holiday clear    12.120    100.0  17.0   35.0008   0.0000  327.0
                   cloudy   12.120    100.0  24.0   43.0006   0.0000  350.0
                   rainy    12.120    100.0  35.0   56.9969   0.0000  263.0

                                registered         count
                            min        max    min    max    min
season holiday     weather
autumn holiday     clear    0.0      601.0    3.0  712.0    3.0
                   cloudy   8.0      549.0   56.0  597.0   64.0
       non-holiday clear    0.0      782.0    0.0  873.0    1.0
                   cloudy   0.0      726.0    1.0  831.0    1.0
                   rainy    0.0      688.0    1.0  782.0    1.0
rainy  holiday     clear    0.0      530.0    3.0  596.0    4.0
                   cloudy   1.0      416.0   60.0  497.0   63.0
                   rainy    6.0      316.0  101.0  377.0  107.0
       non-holiday clear    0.0      857.0    1.0  948.0    1.0
                   cloudy   0.0      788.0    1.0  890.0    1.0
                   rainy    0.0      791.0    1.0  856.0    1.0
summer holiday     clear    0.0      175.0    3.0  202.0    3.0
                   cloudy   0.0      202.0    1.0  228.0    1.0
                   rainy    0.0       58.0    3.0   60.0    4.0
       non-holiday clear    0.0      681.0    0.0  801.0    1.0
                   cloudy   0.0      623.0    0.0  712.0    1.0
                   rainy    0.0      505.0    0.0  520.0    1.0
                   stormy   6.0      158.0  158.0  164.0  164.0
winter holiday     clear    1.0      362.0    3.0  584.0    4.0
                   cloudy   1.0      357.0    3.0  566.0    4.0
                   rainy    3.0      123.0   17.0  175.0   20.0
       non-holiday clear    0.0      886.0    0.0  977.0    1.0
                   cloudy   0.0      751.0    1.0  868.0    2.0
                   rainy    0.0      786.0    0.0  891.0    1.0

5. _Aggregate_ `data` berdasarkan `season`, dan `weather` dengan fungsi berikut, dan ubah nama kolomnya:
 * _Mean_ untuk `temp` menjadi `mean_temperature`
 * _Min_ dan _max_ untuk `count` menjadi `minimal` dan `maximal`
 * Total kuadrat dari `humidity` dengan fungsi sendiri atau lambda, menjadi `humidity peak`

In [6]:
### jawaban anda disini

def sumsquare(series):
    sum_ = 0
    for val in series:
        sum_+=val**2
        return sum_

agg_data = data.groupby(['season','holiday','weather']).agg({'temp':'mean',
                                                            'count':['min','max'],
                                                            'humidity': sumsquare})
agg_data.columns = ['mean_temperature','minimal','maximal','humidity peak']
agg_data

                            mean_temperature  minimal  maximal  humidity peak
season holiday     weather
autumn holiday     clear           23.600000      3.0    712.0         4489.0
                   cloudy          17.922857     64.0    597.0         3969.0
       non-holiday clear           23.171057      1.0    873.0         4900.0
                   cloudy          22.536548      1.0    831.0         8649.0
                   rainy           21.001518      1.0    782.0        10000.0
rainy  holiday     clear           17.457681      4.0    596.0         8836.0
                   cloudy          20.052727     63.0    497.0         2304.0
                   rainy           17.876000    107.0    377.0         3364.0
       non-holiday clear           16.184078      1.0    948.0         3969.0
                   cloudy          16.883643      1.0    890.0         3844.0
                   rainy           18.643818      1.0    856.0         4489.0
summer holiday     clear            9.410476      3.0    202.0         2601.0
                   cloudy           7.772174      1.0    228.0         2209.0
                   rainy            7.243333      4.0     60.0         3481.0
       non-holiday clear           12.615679      1.0    801.0         6561.0
                   cloudy          12.788208      1.0    712.0         5625.0
                   rainy           12.296000      1.0    520.0         7744.0
                   stormy           8.200000    164.0    164.0         7396.0
winter holiday     clear           30.481923      4.0    584.0         6889.0
                   cloudy          29.007500      4.0    566.0         6084.0
                   rainy           26.240000     20.0    175.0         5476.0
       non-holiday clear           29.192524      1.0    977.0         2500.0
                   cloudy          27.980319      2.0    868.0         3721.0
                   rainy           26.799282      1.0    891.0         4225.0

6. Kelompokkan data berdasarkan semua kolom kategorik. Kemudian, untuk tiap kolom numerik, transformasikan semua data sehingga nilainya berubah menjadi rasio antara mean dan median. (Boleh membuat _function_ atau menggunakan _lambda_)

In [7]:
### jawaban anda disini

data.groupby(['season','holiday','workingday','weather']).transform(lambda col: col.mean()/col.median())

,temp,atemp,humidity,windspeed,casual,registered,count
datetime,,,,,,,
2011-01-01 00:00:00,1.013889,1.047425,1.070868,1.015050,3.405357,1.315649,1.580169
2011-01-01 01:00:00,1.013889,1.047425,1.070868,1.015050,3.405357,1.315649,1.580169
2011-01-01 02:00:00,1.013889,1.047425,1.070868,1.015050,3.405357,1.315649,1.580169
2011-01-01 03:00:00,1.013889,1.047425,1.070868,1.015050,3.405357,1.315649,1.580169
2011-01-01 04:00:00,1.013889,1.047425,1.070868,1.015050,3.405357,1.315649,1.580169
...,...,...,...,...,...,...,...
2012-12-19 19:00:00,1.054882,1.009481,1.021933,1.035393,1.540361,1.229346,1.185843
2012-12-19 20:00:00,1.054882,1.009481,1.021933,1.035393,1.540361,1.229346,1.185843
2012-12-19 21:00:00,1.054882,1.009481,1.021933,1.035393,1.540361,1.229346,1.185843
2012-12-19 22:00:00,1.054882,1.009481,1.021933,1.035393,1.540361,1.229346,1.185843
2012-12-19 23:00:00,1.054882,1.009481,1.021933,1.035393,1.540361,1.229346,1.185843

7. Budi adalah seorang analis data junior yang bekerja di sebuah perusahaan startap. Suatu hari, timnya ingin menganalisis data berupa string. Namun, pada proses analisis data tersebut karakter yang boleh muncul hanya (a-z, A-Z, dan 0-9). Budi merasa kebingungan untuk mengecek hal tersebut. Buatlah fungsi dengan menggunakan Regex untuk membantu Budi. Berikan juga defense agar jika dimasukkan integer menjadi tetap benar.

In [8]:
import re
def cek_karakter(string):
    if type(string)==int:
        string = str(string)
    pattern = '^[A-Za-z0-9]+$'
    result = re.search(pattern, string)
    if result:
        return True
    else:
        return False # True jika hanya mengandung karakter tsb, False jika tidak

print(cek_karakter("ABCDEFabcdef123450")) # Should be True
print(cek_karakter("LoremIpsumDolorSitAmet")) # Should be True
print(cek_karakter(81213177)) # Should be True
print(cek_karakter("Budi punya 5 mangga + 2 jambu")) # Should be False

True
True
True
False

8. Buatlah fungsi untuk mengecek apakah sebuah urutan string terdiri dari huruf kapital yang diikuti oleh huruf kecil.

In [9]:
import re
def cek_teks(teks):
    pattern = '[A-Z]+[a-z]+' # Kode anda disini
    result = re.search(pattern, teks)
    if result:
        return True
    else:
        return False # return True jika benar, False jika salah

print(cek_teks("AaBbCc")) # True
print(cek_teks("Python")) # True
print(cek_teks("linux")) # False
print(cek_teks("PACMANN")) # False

True
True
False
False

9. Terkadang, dalam proses pengolahan data berupa teks kita hanya ingin mengambil data teks yang mengandung kata tertentu. Buatlah fungsi yang mengecek apakah suatu teks memiliki kata kunci yang dicari.

In [10]:
# Boleh memakai regex maupun tidak
def cari_kata(kalimat,kata):
    return ((' ' + kata + ' ') in (' ' + kalimat + ' '))

print(cari_kata('budi membeli permen', 'permen')) # True
print(cari_kata('Jumlah pasien corona di jakarta semakin meningkat', 'surabaya')) # False

True
False